<form action='/signup' method='POST'>
	<input type="text" name="firstName" id="firstNameInput" placeholder="First Name" style='color:#ef3c40 !important'/>
	<input type="text" name="lastName" id="lastNameInput" placeholder="Last Name" style='color:#ef3c40 !important'/>
	<input type="text" name="email" class="emailInput" placeholder="Email" style='color:#ef3c40 !important'/>
	<input type="password" name="password" id="passwordInput" placeholder="Password" style='color:#ef3c40 !important'/>
	<input type="password" id="confirmPasswordInput" placeholder="Confirm Password" style='color:#ef3c40 !important'/>

	<button type="submit" id="signupSubmit">Go</button>
	
</form>